# C files
**.o
**.out

# Other
**.vscode
**.dat

# LaTeX
project/report/casari_project.*
!project/report/*.tex
!project/report/*.bib
!project/report/*.pdf

# Folder for temporary files
project/gitignore/
